body {
  font-family: sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  text-align: center;
  padding: 24px 0;
}
form {
  width: 600px;
  font-size: 32px;
  display: grid;
  place-items: center;
}
input {
  font-size: 32px;
}
button {
  width: 420px;
  font-size: 32px;
}
h2 {
  font-size: 42px;
}
